/* TABLE FIX HEADER */
#tabledata {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#tabledata a {
	text-decoration: none;
	color: black;
}

#tabledata td,
#tabledata th {
	border: 1px solid: #ddd;
	padding: 2px;
	font-size: 12px;
}

#tabledata tr:hover {
	background-color: #ddd;
}

#tabledata th {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	text-align: center;
	/* background-color: #0049A4; */
	/* color: white; */
}

th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	border: 1px solid: #ddd;
}

th[scope=row] {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	z-index: 1;
	border: 1px solid: #ddd;
}

th[scope=row] {
	vertical-align: top;
	color: inherit;
	/*border: 1px solid white;*/
	border: 1px solid: #ddd;
	background-color: white;
	background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
}

table:nth-of-type(2) th:not([scope=row]):first-child {
	left: 0;
	z-index: 3;
}

/*  */