<chart>
id=130524316390509532
comment= 
symbol=GBPUSD
period=15
leftpos=64821
digits=5
scale=8
graph=1
fore=1
grid=1
volume=0
scroll=1
shift=1
ohlc=1
one_click=0
askline=0
days=0
descriptions=1
shift_size=20
fixed_pos=0
window_left=78
window_top=78
window_right=1712
window_bottom=694
window_type=3
background_color=2368548
foreground_color=8421504
barup_color=16777215
bardown_color=36095
bullcandle_color=16777215
bearcandle_color=36095
chartline_color=36095
volumes_color=255
grid_color=8614757
askline_color=255
stops_color=255

<window>
height=208
<indicator>
name=main
<object>
type=23
object_name=Label 28688
period_flags=0
create_time=1408004112
description=FXProSystems.com
color=36095
font=Impact
fontsize=16
angle=0
anchor_pos=0
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=0
x_distance=15
y_distance=15
</object>
<object>
type=23
object_name=Label 46780
period_flags=0
create_time=1408022204
description=FREE DOWNLOAD FOREX STRATEGIES AND INDICATORS
color=36095
font=Century Gothic
fontsize=8
angle=0
anchor_pos=0
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=0
x_distance=14
y_distance=43
</object>
<object>
type=23
object_name=BSINDTool
period_flags=0
create_time=1410971166
description=Tool: BuySellForexSecret
color=15136253
font=Arial
fontsize=12
angle=0
anchor_pos=6
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=1
x_distance=45
y_distance=25
</object>
<object>
type=23
object_name=BSINDPair
period_flags=0
create_time=1410971166
description=Pair: GBPUSD
color=15136253
font=Arial
fontsize=12
angle=0
anchor_pos=6
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=1
x_distance=45
y_distance=45
</object>
<object>
type=23
object_name=BSINDTimefr
period_flags=0
create_time=1410971166
description=Timeframe: M15
color=15136253
font=Arial
fontsize=12
angle=0
anchor_pos=6
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=1
x_distance=45
y_distance=65
</object>
<object>
type=23
object_name=BSINDDirection1
period_flags=0
create_time=1410971166
description=Current Signal:
color=15136253
font=Arial
fontsize=12
angle=0
anchor_pos=6
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=1
x_distance=45
y_distance=85
</object>
<object>
type=23
object_name=BSINDtrend1
period_flags=0
create_time=1410971166
description=p
color=16711680
font=Wingdings 3
fontsize=12
angle=0
anchor_pos=6
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=1
x_distance=148
y_distance=85
</object>
<object>
type=23
object_name=BSINDtrend2
period_flags=0
create_time=1410971166
description=BUY
color=16711680
font=Arial
fontsize=12
angle=0
anchor_pos=6
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=1
x_distance=167
y_distance=85
</object>
<object>
type=23
object_name=BSINDTrend_Power
period_flags=0
create_time=1410971166
description=Trend Power: 26%
color=15136253
font=Arial
fontsize=12
angle=0
anchor_pos=6
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=1
x_distance=45
y_distance=105
</object>
<object>
type=23
object_name=BSINDCandleclosesin
period_flags=0
create_time=1410971166
description=Next Candle in: 14M 10S
color=15136253
font=Arial
fontsize=12
angle=0
anchor_pos=6
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=1
x_distance=45
y_distance=125
</object>
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=BuySellForexSecret
flags=275
window_num=0
<inputs>
Periodic=31
SL_add_pips=180
TP=300
UseAlerts=true
EmailAlerts=true
CORNER=1
</inputs>
</expert>
shift_0=0
draw_0=12
color_0=16711680
style_0=0
weight_0=0
shift_1=0
draw_1=12
color_1=42495
style_1=0
weight_1=0
shift_2=0
draw_2=3
color_2=16748574
style_2=0
weight_2=3
arrow_2=221
shift_3=0
draw_3=3
color_3=8721863
style_3=0
weight_3=3
arrow_3=222
shift_4=0
draw_4=12
color_4=65535
style_4=0
weight_4=0
shift_5=0
draw_5=12
color_5=65535
style_5=0
weight_5=0
shift_6=0
draw_6=12
color_6=255
style_6=0
weight_6=3
shift_7=0
draw_7=12
color_7=32768
style_7=0
weight_7=3
period_flags=0
show_data=1
</indicator>
</window>
</chart>

