/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	background: #CCC;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #666666; 
	text-align: center;
	margin: 15px 0;
}

/********************************************
   LAYOUT
********************************************/ 

#wrap {
	position: relative;
	width: 994px;
	background: #CCC url(content.jpg) repeat-y center top;
	margin: 0 auto;
	text-align: left;
}
#top-bg {
   	position: absolute;
	padding:0 0.74px;
	width: 994px;
	height: 19px;
	background: #CCC url(top-bg.jpg) repeat-y center top;	
	top: 0; left: 0;
	z-index: 2;	
}
#content-wrap {
	position: relative;
	clear: both;
	float: left;	
	width: 956px;
	padding: 0; 	
	background: #E8E8E8;	
	border-top: 5px solid #FFF;
	border-bottom: 5px solid #FFF;/*#D0D0D0;*/
	margin-left: 20px;	
	display: inline;
}
#header {
	width: 994px;
	position: relative;
	height: 100px;
	background: #CCC url(header-bg.jpg) repeat-y center top;
	padding: 0;	
	color: #FFF;	
}
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 36px 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -1px;
	color: #787676;
	text-transform: none;
	text-decoration: none;
	top: 25px; left: 30px;	
}
#header h1#logo-text span {
	color: #9A9696;
}
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: normal 12px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #838181;
/*	top: 67px; left: 95px; */
	top: 67px; left: 32px;
}
#loho {
	position: absolute;
	margin: 0; padding: 0;
	top: 22px; left: 160px;
}
/* header links */

#header #header-links {
	position: absolute;
	top: 20px; right: 20px;	
	color: #838181;
	font-size: 10px;	
}
#header #header-links a {	
	color: #838181;
	text-decoration: none;	
}
#header #header-links a:hover {
	color: #444;		
}

/* Main Column */

#main {
	float: left;
	width: 100%;
	padding: 0 0 0 0; 
	display: inline;
}
#main h2 {
	font: normal 1.9em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #85970C; 
	text-transform: none;
	padding: 10px 0 0px 10px; 			
}
#main h2 a {
	color: #85970C;
	text-decoration: none;	
}

/* footer */
#footer-wrap {
	clear: both;
	width: 994px;
	font-size: 16px;	
	text-align: left;
	padding: 0 1.5px 10px 0;
	background: url(footer-bottom.jpg) no-repeat center bottom;	
}
#footer-wrap a {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}
#footer-wrap a:hover {
	color: #000;	
}
#footer-wrap p {
	padding: 10px 0;
}
#footer-wrap h3 {
	color: #666666;
	margin: 0;
	padding: 0 0px; 
	text-transform: uppercase;
}

#footer-columns {
	color: #888;
	margin: 0 auto; 
	padding: 0;	
	width: 934px;
}
#footer-columns ul {
	list-style: none;
	margin: 10px 0 0 0; 
	padding: 0;	
	background: url(footer-dots.jpg) repeat-x left top;
}
#footer-columns li {
	background: url(footer-dots.jpg) repeat-x left bottom;		
}
#footer-columns li a {
	display: block;
	font-weight: normal;
	padding: 4px 0 4px 10px;
	width: 96%;
}
#footer-columns .col3, .col3-center {
	float: left;
	width: 32%;
}
#footer-columns .col3-center { 
	margin: 0 15px; 
}

/* bottom */

#footer-bottom {
	clear: both;
	color: #666;	
	margin: 0 auto; 
	width: 994px;
/*	padding: 10px 0; */
	padding: 10px 0;
	text-align: center;
}

/* postmeta */

.post-footer {
	background: url(post.jpg);
	padding: 5px; margin: 5px 10px 10px 10px;	
	font-size: 95%;	
	color: #AEA471;
	border: 1px solid #E0DBC9;
}
.post-footer .date{ margin: 0 10px 0 5px;	}
.post-footer a.comments { margin: 0 10px 0 5px;	}
.post-footer a.readmore { margin: 0 10px 0 5px;	}
.post-info { font-size: .95em; padding: 0 10px; margin-left: 2px; color: #888; }

/* alignment classes */

.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }
